{#
/**
 * @file
 * Default theme implementation for the modules uninstall page.
 *
 * Available variables:
 * - form: The modules uninstall form.
 * - modules: Contains multiple module instances. Each module contains:
 *   - attributes: Attributes on the row.
 *   - module_name: The name of the module.
 *   - checkbox: A checkbox for uninstalling the module.
 *   - checkbox_id: A unique identifier for interacting with the checkbox
 *     element.
 *   - name: The human-readable name of the module.
 *   - description: The description of the module.
 *   - disabled_reasons: (optional) A list of reasons why this module cannot be
 *     uninstalled.
 *
 * @see template_preprocess_system_modules_uninstall()
 *
 * @ingroup themeable
 */
#}
{{ form.filters }}
{% if visibility.style_mode != 'none' and visibility.accent_color %}
  {% set style_libraries = 'matrix-style-' ~ visibility.style_mode ~ '-' ~ visibility.accent_color %}
  {{ attach_library('module_matrix/matrix-style-uninstall') }}
  {{ attach_library('module_matrix/' ~ style_libraries) }}

{% endif %}

{{ attach_library('module_matrix/main-uninstall') }}
{% set compact_layout = visibility.compact_layout ? ' compact' : ''  %}
{% set grid_layout = (visibility.grid_layout or visibility.compact_layout) ? ' grid-layout' : '' %}

<div class="module-matrix-wrapper uninstall {{ grid_layout }}{{ compact_layout }}">
  <div class="module-matrix-list">
    {% for module in modules %}
      <div class="module-matrix-list-inner">
        <div class="name-package">
          <span class="checkbox">
            {{ module.checkbox }}
          </span>
          <label for="{{ module.checkbox_id }}" class="module-name table-filter-text-source name">{{ module.name }}</label>
        </div>
        <div class="module-matrix-item-details description">
          <span class="text module-matrix-item-description text module-description">{{ module.description }}
          </span>
          {% if module.reasons_count > 0 %}
            <div class="admin-requirements">
              {%- trans -%}
                The following reason prevents {{ module.module_name }} from being uninstalled:
              {%- plural module.reasons_count -%}
                The following reasons prevent {{ module.module_name }} from being uninstalled:
              {%- endtrans %}
              <div class="item-list">
                <ul>
                  {%- for reason in module.validation_reasons -%}
                    <li class="reason">
                    <span class="material-icons">error_outline</span>
                    <span>{{ reason }}</span>
                  </li>
                  {%- endfor -%}
                  {%- if module.required_by -%}
                    <li class="required-by">
                    <span class="material-icons">link_off</span>
                   <span>{{ 'Required by: @module-list'|t({'@module-list': module.required_by|safe_join(', ')}) }}</span>
                    </li>
                  {%- endif -%}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="module-matrix-list-inner empty-message">
        {{ 'No modules are available to uninstall.'|t }}
      </div>
    {% endfor %}
  </div>
</div>

{{ form|without('filters', 'modules', 'uninstall') }}

