<div {{ attributes }}style="background-color:#fcf4f2; color:#a51b00; padding:10px;">
  <p>
    <b>{{ type }}</b>: {{ message }}<br>
    {{ file }} line {{ line }}
  </p>
  <details><summary>Trace Exception</summary>
  <code><pre>{{ trace }}</pre></code>
  </details>
</div>
