{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
<div data-izi-messages style="display: none !important;">
  {% for type, messages in message_list %}
    {% set iziType = (type == 'status') ? 'success' : type %}
      {% if messages|length > 1 %}
          {% for message in messages %}
            <div data-izi-message data-type={{ iziType }} data-title="{{ iziType|capitalize }}">{{ message }}</div>
          {% endfor %}
      {% else %}
        <div data-izi-message data-type={{ iziType }} data-title="{{ iziType|capitalize }}"> {{ messages|first }}</div>
      {% endif %}
  {% endfor %}
</div>
