{% set attributes = attributes ?: create_attribute() %}

{% for item in items %}
  <nav {{ attributes.addClass('footer-menu') }}>
    <h6 class="footer-title">{{ link(item.title, item.url, { 'class': nav_link_classes }) }}</h6>
    {% if item.below %}
      {% for subitem in item.below %}
        {% if subitem.url %}
          <a href="{{ subitem.url }}" class="link link-hover {% if subitem.in_active_trail %}active{% endif %}">{{ subitem.title }}</a>
        {% else %}
          <span class="link link-hover">{{ subitem.title }}</span>
        {% endif %}
        
        {% if subitem.below and subitem.is_expanded %}
          <div class="footer-submenu">
            {% for subsubitem in subitem.below %}
              {% if subsubitem.url %}
                <a href="{{ subsubitem.url }}" class="link link-hover submenu-link {% if subsubitem.in_active_trail %}active{% endif %}">{{ subsubitem.title }}</a>
              {% else %}
                <span class="link link-hover submenu-link">{{ subsubitem.title }}</span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
{% endfor %}