{# footnotes/footnote-list.html.twig #}
{# When overriding, the .js-* classes should be kept when using Footnotes Group
   block. Additionally, the footnotes_group ID should be remain in place.
   Similarly, .js-is-auto is required to fix auto-numbering when grouping
   together via JS. #}
{% apply footnotes_spaceless %}
  {% if footnotes|length > 0 %}
    <ul class="footnotes js-footnotes"{{ is_block ? ' id="footnotes_group"' }}>
      {% for footnote_id, footnote_group in footnotes %}
        {% set first_footnote = footnote_group|first %}
        {% if not first_footnote.is_same_text %}

          {# The texts are not the same, output each footnote as a separate
             line even though they have the same backlink number. #}
          {% for footnote in footnote_group %}
            <li class="footnotes__item-wrapper js-footnote-reference">
              <span class="footnotes__item-backlinks">
                <a class="footnotes__item-backlink{{ footnote.is_auto ? ' js-is-auto' }}" href="#{{ footnote.ref_id }}" id="{{ footnote.fn_id }}">{{ footnote.backlink_value }}</a>
              </span>
              <span class="footnotes__item-text js-footnote-reference-text">{{ footnote.text }}</span>
            </li>
          {% endfor %}

        {% else %}

          {# The values and texts are the same, combine them into a single
             line and output multiple backlinks. #}
          <li class="footnotes__item-wrapper js-footnote-reference {{ footnote_group|length > 1 ? ' has-multiple' }}">
            <span class="footnotes__item-backlinks">
              {% for footnote in footnote_group %}
                <a class="footnotes__item-backlink{{ footnote.is_auto ? ' js-is-auto' }}{{ loop.last ? '' : ' has-next' }}" href="#{{ footnote.ref_id }}" id="{{ footnote.fn_id }}">{{ footnote.backlink_value }}</a>
              {% endfor %}
            </span>
            <span class="footnotes__item-text js-footnote-reference-text">{{ first_footnote.text }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% elseif is_block %}
    {# Empty placeholder block is needed even if no footnotes when loaded via the Block. #}
    <ul class="footnotes" id="footnotes_group"></ul>
  {% endif %}
{% endapply %}
