{% set total_usage_count = 0 %}
<table>
  <thead>
    <tr align="center">
      <th>{{ 'Entity Type'|t }}</th>
      <th>{{ 'Bundle'|t }}</th>
      <th>{{ 'Entity ID'|t }}</th>
      <th>{{ 'Language'|t }}</th>
      <th>{{ 'Last updated'|t }}</th>
      <th>{{ 'Status'|t }}</th>
      <th>{{ 'Link to Entity'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for entity_type, entities in data %}
      {% if entities is not empty %}
        {% set total_usage_count = total_usage_count + entities|length %}
        {% for entity in entities %}
          {% set id = entity.entity_id ?? entity.id %}
          {% set language = entity.langcode ? getLanguageName(entity.langcode) : 'N/A'|t %}
          {% set path = id ? getEntityUrl(entity_type, id, entity.langcode) : '' %}
          {% set entity_data = getEntity(entity_type, id, entity.langcode) %}
          <tr align="center">
            <td>{{ entity_type }}</td>
            <td>{{ entity.bundle ?? 'N/A'|t }}</td>
            <td>{{ id }}</td>
            <td>{{ language }}</td>
            <td>{{ entity_data ? entity_data.changed.0.value|date('d/m/Y') : 'N/A'|t }}</td>
            <td>{{ entity_data ? (entity_data.status.0.value ? 'Published'|t : 'Unpublished'|t) : 'N/A'|t }}</td>
            <td>
              {% if path %}
                {% set label = getEntityLabel(entity_type, id, entity.langcode) %}
                <a href="{{ path }}" style="text-decoration:none;">
                  {{ label is not empty ? label|t : (entity_type ~ '-' ~ id)|t }}
                </a>
              {% elseif entity_type == 'paragraph' %}
                {% set parentEntity = loadParagraphParent(id, entity.langcode) %}
                {% if parentEntity %}
                  {% set parent_type = parentEntity.getEntityTypeId() ~ ':' ~ (parentEntity.getType() ?? parentEntity.type.target_id) ~ ':' ~ parentEntity.id() %}
                  {% set parent_title = parentEntity.title.value %}
                  {{ 'Referenced in(@type):'|t({'@type': parent_type}) }}
                  {% if parent_title is not empty %}
                    {% set parent_path = getEntityUrl(parentEntity.getEntityTypeId(), parentEntity.id(), entity.langcode) %}
                    <a href="{{ parent_path }}" style="text-decoration:none;">
                      {{ parent_title }}
                    </a>
                  {% else %}
                    <a href="{{ path('entity_usage_explorer.usage_page', { 'entity_type': parentEntity.getEntityTypeId(), 'entity_id': parentEntity.id() }) }}" style="text-decoration:none;">
                      {{ 'Check usage'|t }}
                    </a>
                  {% endif %}
                {% endif %}
              {% else %}
                {{ 'Not available'|t }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <tr><b>{{ 'Total usage:'|t }}</b> {{ total_usage_count }}</tr>
  </tbody>
</table>
