{#
/**
 * @file
 * Default theme implementation to display Cache Pilot fragmentation bar.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - fragments: An array with data contains:
 *   - value: The formatted value.
 *   - label: The label.
 *   - percentage: The fragment percentage in number out of 100.
 *   - color: The fragment HEX color.
 */
#}
{{ attach_library('cache_pilot/fragmentation-bar') }}
<figure{{ attributes.addClass('cache-pilot-fragmentation-bar') }}>
  <div class="cache-pilot-fragmentation-bar__indicator">
    {% for fragment in fragments %}
      <div class="cache-pilot-fragmentation-bar__fragment"
           style="--fragment-background-color: {{ fragment.color }}; --fragment-percentage: {{ fragment.percentage }}%;">
      </div>
    {% endfor %}
  </div>

  <figcaption class="cache-pilot-fragmentation-bar__labels">
    {% for fragment in fragments %}
      <div class=cache-pilot-fragmentation-bar__label>
        <div class="cache-pilot-fragmentation-bar__color"
             style="--fragment-background-color: {{ fragment.color }};">
        </div>
        <div class="cache-pilot-fragmentation-bar__title">
          {{ fragment.label }}: {{ fragment.value }} ({{ fragment.percentage }}%)
        </div>
      </div>
    {% endfor %}
  </figcaption>
</figure>
