<div class="layout-container layout-container--error">
  <div class="mockup-fixed-region">
  <header role="banner">
    {{ page.header_top }}
    <div class="inner-header--wrapper">
      <div class="container">
        {{ page.header }}
        {{ page.navigation }}
      </div>
    </div>
  </header>
  </div>
{% block main %}
<div class="error-wrapper container">
  <div class="error-page error-404">
    <div class="error-page--data">
      <h1>{{ 'Page not found'|t }}</h1>
      <h2>{{ "Oops! We couldn't find what you were looking for."|t }}</h2>
      <p>{{ "The page you were looking for does not exist."|t }}</p>
      <a href="{{ path('<front>') }}" class="btn">{{ 'Go back to the homepage'|t }}</a>
    </div>
    <div class="error-page--img">
      <img src="{{ base_path_url }}{{ directory }}/assets/img/error_icon.svg" alt="Error icon">
    </div>
  </div>
</div>
{% endblock %}

  <div class="main-footer--wrapper">
    <div class="container">
      <div class="d-flex">
        {% if page.footer_top %}
          {{ page.footer_top }}
        {% endif %}
        {% if page.footer %}
        <footer class="main-footer" role="contentinfo">
          {{ page.footer }}
        </footer>
        {% endif %}
      </div>
    </div>
    {% if page.footer_bottom %}
    <div class="footer-bottom">
      <div class="container">
        {{ page.footer_bottom }}
      </div>
    </div>
    {% endif %}
  </div>

</div>
