{% macro test_macro_1(macro_1, macro_unused_1) %}{{ macro_1 }}{% endmacro %}
{% macro test_macro_2(macro_2, macro_unused_2, macro_unused_3) %}{% set temp = macro_2 ~ 'foo' %}{{ temp }}{% endmacro %}
{% macro test_macro_3(macro_3, macro_unused_4) %}Bar {{ macro_3 }}{% endmacro %}

{{ _self.test_macro_3('Foo') }}

{% set foo = 'foo' %}
{{ foo }}
{% for zoo_unused, item_1 in test_prop_array %}
  {{ item_1 }}
{% endfor %}
{% for item_2 in test_prop_array %}
  {{ item_2 }}
{% endfor %}
{% for item_unused in test_prop_array %}
  {{ foo }}
{% endfor %}
{{ test_prop_string_collector }}
{% set my_attributes = create_attribute() %}
<span {{ attributes }}></span>
