{% set classes = [
  'navbar',
  'container',
] %}

{% set navbar_collapse_classes = [
]|merge(navbar_collapse_extra_classes ?: []) %}

{% set navbar_fixed_classes = [
  'navbar-fixed',
  'flex',
  'items-center',
  'gap-4',
]|merge(navbar_fixed_extra_classes ?: []) %}

{% set navbar_toggler_classes = [
  'btn',
  'btn-ghost',
  'btn-circle',
  'lg:hidden',
]|merge(navbar_toggler_extra_classes ?: []) %}

<div class="drawer">
  <input id="navbar-drawer" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content">
    <div {{ attributes.addClass(classes) }}>
      <div class="navbar-start">
        {% block navbar_start %}
          {{ navbar_start }}
        {% endblock %}
      </div>

      <div class="navbar-center">
        <div class="{{ navbar_collapse_classes|join(' ') }}">
          {% block navbar_center %}
            {{ navbar_center }}
          {% endblock %}
        </div>
      </div>

      <div class="navbar-end gap-2">
        <div class="{{ navbar_fixed_classes|join(' ') }}">
          {% block navbar_end %}
            {{ navbar_end }}
          {% endblock %}
        </div>

        <label for="navbar-drawer" class="{{ navbar_toggler_classes|join(' ') }}" aria-label="{{ 'Toggle navigation'|t }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </label>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="navbar-drawer" class="drawer-overlay"></label>
    <div class="w-80 p-2 min-h-full bg-base-100 text-base-content">
      {{ navbar_center }}
    </div>
  </div>
</div>
