{#
/**
 * @file
 * Theme override for status report general info.
 *
 * Available variables:
 * - drupal: The status of Drupal installation:
 *   - value: The current status of Drupal installation.
 *   - description: The description for current status of Drupal installation.
 * - cron: The status of cron:
 *   - value: The current status of cron.
 *   - description: The description for current status of cron.
 *   - cron.run_cron: An array to render a button for running cron.
 * - database_system: The status of database system:
 *   - value: The current status of database system.
 *   - description: The description for current status of cron.
 * - database_system_version: The info about current database version:
 *   - value: The current version of database.
 *   - description: The description for current version of database.
 * - php: The current version of PHP:
 *   - value: The status of currently installed PHP version.
 *   - description: The description for current installed PHP version.
 * - php_memory_limit: The info about current PHP memory limit:
 *   - value: The status of currently set PHP memory limit.
 *   - description: The description for currently set PHP memory limit.
 * - webserver: The info about currently installed web server:
 *   - value: The status of currently installed web server.
 *   - description: The description for the status of currently installed web
 *     server.
 */
#}
{{ attach_library('custom_status_report/status_overrides') }}
<div class="system-status-general-info">
  <h2 class="system-status-general-info__header">{{ 'General System Information'|t }}</h2>
  <div class="system-status-general-info__items csr-grid">

    {% for weight, card in cards %}
      {% for module, data  in card %}
        <div class="system-status-general-info__item card">
          {% if data.module_icon %}
            <img src="{{ data.module_icon }}" alt="{{ module }} icon" class="system-status-general-info__item-icon" />
          {% elseif data.icon %}
            <span class="system-status-general-info__item-icon system-status-general-info__item-icon--{{ data.icon }}"></span>
          {% else %}
            <span class="system-status-general-info__item-icon system-status-general-info__item-icon--drupal"></span>
          {% endif %}
          <div class="system-status-general-info__item-details">
            <h3 class="system-status-general-info__item-title">{{ data.title }}</h3>
            {% if module not in ['php', 'database_system'] %}
              {{ data.value }}
              {% if data.description %}
                <div class="description">{{ data.description }}</div>
              {% endif %}
            {% elseif module == 'php' %}
              <h4 class="system-status-general-info__sub-item-title">{{ 'Version'|t }}</h4>{{ data.value }}
              {% if data.description %}
                <div class="description">{{ data.description }}</div>
              {% endif %}
              <h4 class="system-status-general-info__sub-item-title">{{ 'Memory limit'|t }}</h4>{{ data.php_memory_limit.value }}
            {% else %}
              <h4 class="system-status-general-info__sub-item-title">{{ 'Version'|t }}</h4>{{ data.database_system_version.value }}
              {% if data.database_system_version.description %}
                <div class="description">{{ data.database_system_version.description }}</div>
              {% endif %}

              <h4 class="system-status-general-info__sub-item-title">{{ 'System'|t }}</h4>{{ data.value }}
              {% if data.description %}
                <div class="description">{{ data.description }}</div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}

{#    {% if database_system_version.value %}#}
{#    <div class="system-status-general-info__item card">#}
{#      <span class="system-status-general-info__item-icon system-status-general-info__item-icon--database"></span>#}
{#      <div class="system-status-general-info__item-details">#}
{#        <h3 class="system-status-general-info__item-title">{{ 'Database'|t }}</h3>#}

{#      </div>#}
{#    </div>#}
{#    {% endif %}#}


  </div>
</div>
